.employee-list-item {
    padding: 5px 15px; /* внутренние отступы по вертикали и по горизонтали */
    margin: 2px 4px; /* внешние отступы по вертикали и по горизонтали */
    background-color: white;
    border: solid #e2e2e280 1px;
    border-radius: 5px;
    display: flex;
}

.employee-list-item .avatar {
    width: 60px;
    height: 60px;
    border-radius: 30px; /* половина размера стороны */
    background-color: #e2e2e2;
    background-size: cover; /* https://www.w3schools.com/cssref/css3_pr_background-size.php */
    background-image: url("../../../public/default_avatar.png");
}

.employee-list-item .user-info {
    padding-top: 5px;
    padding-left: 10px;
}

.employee-list-item .employee-position {
    color: gray;
}
